h1 {
	font: 28px sans-serif;
	text-align: center;
	margin-bottom: 40px;
}

* {
	box-sizing: border-box;
}

p {
	font: sans-serif;
	background-color: grey;
	padding: 5px;
	padding-top: 35px;	
	border: 1px solid black;
	margin: 5px;
}

section {
	font: sans-serif;
	background-color: grey;
	padding: 35px 5px 5px 5px;
	border: 1px solid black;
	margin: 5px;
}

#chicken {
	position: absolute;
	padding-top: 5px;
	background-color: pink;
	font-size: 20px; 
	right: 0%;
	top: 0%;
}
#burger {
	position: absolute;
	padding-top: 5px;
	background-color: brown;
	color: white;
	font-size: 20px; 
	right: 0px;
	top: 0px;
}
#pizza {
	position: absolute;
	padding-top: 5px;
	background-color: lightyellow;
	font-size: 20px; 
	right: 0px;
	top: 0px;
}


div.stretch {
	width: 100%;
}

/********** For Large Screeens **********/

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
		position: relative;
	}
}

/********** For Medium Screeens - for medium devide thrid menu to cover 100% **********/

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
		position: relative;
	}

	.col-md-12{
		float: left;
		width: 100%;
		position: relative;
	}
}

/********** For Small Screeens **********/

@media (max-width: 767px) {
	 .col-sm-12 {
	 	float: left;
	 	width: 100%;
	 	position: relative;
	 }
}

